<header>
    <div class="max-w-sm sm:max-w-md md:max-w-2xl lg:max-w-4xl flex flex-col md:flex-row justify-between mx-auto border-b-4 border-pale text-pale text-center md:text-left">
        <a href="/" class="mb-auto mt-3 pb-2 text-8xl tracking-wide">
            <h1 >Knih</h1>
        </a>

        <nav class="flex flex-row gap-5 my-auto pb-2 text-[22px] -mb-[0.010rem]">
            <a href="/listing/" class="hover:underline">
                <p>Seznam</p>
            </a>
            <a href="/about/" class="hover:underline">
                <p>O stránce</p>
            </a>
        </nav>
    </div>
</header>