---
layout: default
---

<div class="flex flex-col pt-10">
    <div class="flex flex-col">
        <h2 class="text-5xl text-brown font-extrabold leading-[3.5rem]">{{page.title}}</h2>
        {% if page.subtitle %}
        <h3 class="text-xl text-brown font-extrabold leading-[1.5rem] mb-2">{{page.subtitle}}</h3>
        {% endif %}

        <div class="flex flew-row justify-between pt-3">
            <p class="text-2xl text-[#9E9589] font-bold">{{page.bookauthor}}</p>
            <p class="md:text-xl my-auto pl-4 text-gray-500">{{page.date | date: "%d. %m. %Y"}}</p>
        </div>
    </div>

    <article class="prose prose-xl min-w-full prose-headings:mb-5 prose-hr:my-7 prose-p:my-3 prose-blockquote:my-5 prose-a:underline-offset-4 prose-li:my-2 text-pale pt-4 prose-a:text-pale">
        {{content}}
    </article>

    {% if page.previous.url %}
    <div class="text-brown font-bold text-lg underline flex flex-row justify-between mt-6">
        <a href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
        {% if page.next.url %}
            <a href="{{page.next.url}}">{{page.next.title}} &raquo;</a>
        {% endif %}
    </div>
    {% else %}
    <div class="text-brown font-bold text-lg underline flex flex-row justify-end mt-6">
        <a href="{{page.next.url}}">{{page.next.title}} &raquo;</a>
    </div>
    {% endif %}

    <hr class="border-[#3D4244] mt-8">

    <div class="flex flex-col text-gray-400 font-mono">
        <h4 class="text-lg my-4">Informace o knize</h4>
        <div class="flex flex-row">
            <p class="mr-3">štítky:</p>
            {% for tag in page.tags %}
                <a href="/tags#{{tag}}">
                    <p class="text-gray-500 pr-4 whitespace-nowrap underline">{{tag}}</p>
                </a>
            {% endfor %}
        </div>
        <p>{{page.pages}} stran</p>
        {% if page.dklink %}
        <a href="https://www.databazeknih.cz/{{page.dklink}}" target="_blank">
            <p class="underline whitespace-nowrap">Databáze knih</p>
        </a>
        {% endif %}
    </div>
</div>