---
layout: default
---

<h2 class="text-4xl text-brown font-extrabold leading-[3.5rem]">K přečtení</h2>
<h3 class="text-gray-500 text-xl">Knihy, které si někdy v budoucnu možná přečtu (v žádném specifickém pořadí)</h3>

<article class="prose prose-xl min-w-full prose-li:my-2 prose-ul:pl-6 text-pale pt-4 leading-tight">
    {{content}}
</article>

<p class="mt-6 text-pale text-sm font-bold">Pokud mi chcete doporučit nějakou četbu, <a class="text-brown underline font-extrabold" href="https://chamik.eu/contact.cs/">napište mi</a>!</p>