---
---

@import "tailwindcss";
@plugin "@tailwindcss/typography";
@source "../../src";

@theme {
    --font-serif: Lora, "Lora Fallback", serif;
    --color-pale: #DCD7C9;
    --color-brown: #A27B5C;
    --color-pale-brown: #9E9589;
    --color-light-brown: #b28865;
    --color-secondary: #3F4E4F;
    --color-secondary-dark: #2C3639;
    --color-dark-gray: #3D4244;
}

@font-face {
    font-family: "Lora";
    src: url("/assets/fonts/Lora-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Lora";
    src: url("/assets/fonts/Lora-Bold.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Lora";
    src: url("/assets/fonts/Lora-Italic.woff2") format("woff2");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Lora Fallback";
    src: local("Times New Roman"), local("TimesNewRomanPSMT"), local("Liberation Serif");
    font-weight: 400;
    size-adjust: 116.5%;
    ascent-override: 86.4%;
    descent-override: 23.5%;
    line-gap-override: 0%;
}

@font-face {
    font-family: "Lora Fallback";
    src: local("Times New Roman Bold"), local("TimesNewRomanPS-BoldMT"), local("Liberation Serif Bold");
    font-weight: 600;
    size-adjust: 116.5%;
    ascent-override: 86.4%;
    descent-override: 23.5%;
    line-gap-override: 0%;
}
